<html>
    <head>
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="/js/jquery-3.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

       <link href="/css/jumbotron-narrow.css" rel="stylesheet">
<link href="/css/fileinput.min.css" rel="stylesheet">
        <script src="/js/blog.js"></script>
<link rel="stylesheet" href="/css/fileinput.min.css">
<script src="/js/fileinput.min.js"></script>
<script src="/js/zh.js"></script>

        <title>{{webtitle}}</title>

    </head>
    <body>

        <div class = "container">
        <div class = "header clearfix">
            <nav>

                <ul class = "nav nav-pills pull-right">
                <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">显示方式<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="/">默认显示</a></li>
<li role="separator" class="divider"></li>
<li><a href="/list">列表显示</a></li>
<li role="separator" class="divider"></li>
<li><a href="#">图片显示</a></li>
</ul>
                </li>
                {{^authenticated}}
                <li role = "presentation"><a href="/login">登录</a></li>

                {{/authenticated}}
                {{#authenticated}}
                <li>
                    <a href ="/admin/prepare">管理</a>
                </li>
                <li>
                    <a href="/logout">注销</a>
                </li>
                {{/authenticated}}

                </ul>

            </nav>
<h3 class = "text-muted"><a href="/">{{webtitle}}</a></h3>

        </div>
{{#flash}}
<div class = "alert alert-danger" role = "alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class="sr-only">错误: </span>
{{flash}}
</div>
{{/flash}}
