{{>header}}
<div class="container">
<img id = "notfound" src ="/files/notfound.png" class="img-responsive" width = "400" height = "300" alt="not found">
<p><h2>网页 {{error}} 找不到</h2></p>
</div>

{{>footer}}
