{{>header}}
<h4 class="text-primary">
    {{title}}
</h4>

<h5>
{{user_name}}&nbsp;&nbsp;发表于&nbsp;&nbsp;{{posttime}} &nbsp;&nbsp;分类: {{category_name}}
</h5>
<hr>
<div>{{{body}}}</div>
<a href="/">(返回)</a>

{{>footer}}
