{{>header}}
<script>
$(function(){
if({{iscomment}} == 0){

$("#commentField").hide();
}
if({{iscomment}} == 1){
$("#commentField").show();
}
if({{commentcount}} == 0){
$("#comments").hide();
}else{
$("#comments").show();
}

$(".quote").click(function(){
var abc = $(this).attr("abc")
$.get("/story/quote/" + abc, function(data){
var str = "<blockquote>" + "\n" + "<pre>引用" + data.quotevisitor +"的发言：</pre>" + "\n" + data.quotebody + "\n" + "</blockquote>" + "\n"
$("#commentbody").text(str)
});

});
});

</script>
<h3 class="text-primary">
    {{title}}
</h3>

<h5>
{{user_name}}&nbsp;&nbsp;发表于&nbsp;&nbsp;{{posttime}} &nbsp;&nbsp;分类:&nbsp;{{category_name}} <span style="float: right; color: #C0C0C0;">阅读次数:&nbsp;{{readtimes}}</span>
</h5>
<hr>
<div id="renderstorybody">{{{body}}}</div>
<a href="/">(返回)</a>
<br>
<br>
<div id="comments">
<h3>留言&nbsp;({{commentcount}}条)</h3>
<hr/>
{{#comments}}
<p><b>{{visitor}}</b>&nbsp;&nbsp;说：</p>
<p style="text-indent: 2em;">{{{cbody}}}</p>
<p style="text-align: right;">{{cposttime}} | <a class="quote" href = "#commentbody" abc={{uniqueid}}>引用</a>
{{#authenticated}}
| <a href="/story/{{titleSanitized}}/delete/{{uniqueid}}">删除</a>
{{/authenticated}}
</p>
<hr/>
{{/comments}}
</div>
<div id="commentField">
<form id="comment" method = "POST" action = "/story/{{titleSanitized}}/comment">
<h3>我要留言</h3>
<hr/>
<label>您的留言(HTML标签部分可用)</label>
<textarea class="form-control" name="cbody" rows="10" placeholder="请输入留言..." id="commentbody"></textarea>
<label>您的姓名</label>
<div class="row">
<div class="col-lg-4">
<input type = "text" class="form-control" name="visitor" id="visitorname" />
</div>
</div>
<label>您的邮箱</label>
<div class="row">
<div class="col-lg-4">
<input type="text" class="form-control" name="email" id="visitoremail" />
</div>
</div>
<br>
<button type="submit" class="btn btn-primary" id="commentButton">提交</button>
</form>
</div>

{{>footer}}
