{{>header}}
<script>
$(function(){
if({{iscomment}} == 0){

$("#commentField").hide();
}
if({{iscomment}} == 1){
$("#commentField").show();
}
});

</script>
<h4 class="text-primary">
    {{title}}
</h4>

<h5>
{{user_name}}&nbsp;&nbsp;发表于&nbsp;&nbsp;{{posttime}} &nbsp;&nbsp;分类: {{category_name}}
</h5>
<hr>
<div>{{{body}}}</div>
<a href="/">(返回)</a>
<br>
<br>
<div id="comments">
<h3>留言</h3>
<hr/>
{{#comments}}
<p><b>{{visitor}}</b>&nbsp;&nbsp;说：</p>
<p style="text-indent: 2em;">{{cbody}}</p>
<p style="text-align: right;">{{cposttime}}</p>
<hr/>
{{/comments}}
</div>
<div id="commentField">
<form id="comment" method = "POST" action = "/story/{{titleSanitized}}/comment">
<h3>我要留言</h3>
<hr/>
<label>您的留言(HTML标签部分可用)</label>
<textarea class="form-control" name="cbody" rows="10" placeholder="请输入留言..." id="commentbody"></textarea>
<label>您的姓名</label>
<div class="row">
<div class="col-lg-4">
<input type = "text" class="form-control" name="visitor" id="visitorname" />
</div>
</div>
<label>您的邮箱</label>
<div class="row">
<div class="col-lg-4">
<input type="text" class="form-control" name="email" id="visitoremail" />
</div>
</div>
<br>
<button type="submit" class="btn btn-primary" id="commentButton">提交</button>
</form>
</div>

{{>footer}}
