{{>../header}}
<ul class="nav nav-tabs">
<li role="presentation"><a href="/admin/prepare">编写日志</a></li>
<li role="presentation"><a href="/admin/storymanage">管理日志</a></li>
<li role="presentation"><a href="/admin/tagmanage">管理分类</a></li>
<li role="presentation" class="active"><a href="/admin/attachmanage">管理附件</a></li>
</ul>
<br>
<div class="row">

<div class="col-sm-6 col-md-4">
<div class="thumbnail">
<img src="/attachment/7ee3aab3-0c0e-41fc-9177-81f526da95bd.png" alt="...">
<div class="caption">
<h3>Thumbnail label</h3>
<p>haha</p>
<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
</div>
</div>
</div>

</div>

<nav>
<ul class="pager">
<li><a href="#">上页</a></li>
<li><a href="#">下页</a></li>
</ul>
</nav>
{{>../footer}}
