{{>../header}}

<ul class="nav nav-tabs">
<li role="presentation"><a href="/admin/prepare">编写日志</a></li>
<li role="presentation"><a href="#">管理日志</a></li>
<li role="presentation" class="active"><a href="#">管理分类</a></li>
</ul>
<br>
<form method = "POST" action = "/admin/manage">
<div class="form-group">
<div class="row">
<div class="col-lg-2">
<label for="title">添加分类</label>
</div>
<div class="col-lg-8">
<input id="addTag" type="text" class="form-control" name="category" aria-label="..." placeholder="请输入新增分类">
</div>
<div class="col-lg-2">
<button type = "submit" class="btn btn-primary">添加</button>
</div>
</div>
</div>
</form>
<p>
<table class="table">
<thead>
<tr>
<th>#</th>
<th>分类名称</th>
<th>操作</th>
</tr>
</thead>
{{#categories}}
<tbody>
<tr>
<th>{{id}}</th>
<th>{{name}}</th>
<th><a class="btn btn-info btn-xs" href="#">编辑</a>&ensp;
<a class="btn btn-info btn-xs" href="/admin/manage/delete/{{name}}" onClick="return confirm('确认删除?')">删除</a>
</th>
</tr>

</tbody>
{{/categories}}
</table>

<nav aria-label="..." style="text-align: right">
<ul class="pagination">
<li>
<a href ="#" aria-label="Previous">
<span aria-hidden="true"><<</span>
</a>
</li>
{{#count}}
<li>
<a href="/admin/manage/page/{{page}}">{{page}}</a>
</li>
<li>
{{/count}}
<a href="#" aria-label="Next">
<span sria-hidden="true">>></span>
</a>
</li>
</ul></nav>

{{>../footer}}
