{{>../header}}

<form method = "POST" action = "/admin/prepare" enctype="multipart/form-data">
<div class="form-group">
<label for="title">添加标题</label>
<input type = "text" class="form-control" name = "title" placeholder="请输入标题"/>
</div>
<div class="form-group">
<div class="row">
<div class="col-lg-6">
<label for="title">添加分类</label>
</div>
<div class="col-lg-3">
<label for="title">是否置顶</label>
</div>
<div class="col-lg-3">
<label for="title">能否评论</label>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="input-group">
<div class="input-group-btn">
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择分类 <span class="caret"></span></button>
<ul class="dropdown-menu">
{{#tags}}
<li><a = "#">{{name}}</a></li>
{{/tags}}
</ul>
</div>
<input id = "addTag" type="text" class="form-control" aria-label="..." placeholder="可直接输入新增分类">
</div>
</div>
<div class="col-lg-3">
<label class="radio-inline">
<input type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1"> 是
</label>
<label class="radio-inline">
<input type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2" checked> 否
</label>
</div>
<div class="col-lg-3">
<label class="radio-inline">
<input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1"> 是
</label>
<label class="radio-inline">
<input type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2" checked> 否
</label>
</div>
</div>
</div>
<div class="form-group">
<label for="body">添加正文</label>
<textarea class="form-control" name = "body" rows="30" placeholder="请输入正文"></textarea>
</div>
<button type = "submit" class="btn btn-primary">提交</button>
</form>
<hr>
<label for="attache">上传附件</label>
<div class="row">
<div class="col-md-10">
<input type = "text" class="form-control" name="attache" readonly />
</div>
<div class="col-md-1">
<button type= "file" class="btn btn-primary">选择</button>
</div>
<div class="col-md-1">
<button type= "file" class="btn btn-primary">清除</button>
</div>
</div>


{{>../footer}}
