{{>../header}}
<ul class="nav nav-tabs">
<li role="presentation"><a href="/admin/prepare">编写日志</a></li>
<li role="presentation" class="active"><a href="/admin/storymanage">管理日志</a></li>
<li role="presentation"><a href="/admin/manage">管理分类</a></li>
</ul>
<br>
<table class="table">
<thead>
<tr>
<th>#</th>
<th>标题</th>
<th>发表时间</th>
<th>分类</th>
<th>操作</th>
</tr>
</thead>
{{#stories}}
<tbody>
<tr>
<th>#1</th>
<th>{{title}}</th>
<th>{{posttime}}</th>
<th>{{tag}}</th>
<th><a id="storyedit" href="/admin/prepare/edit/{{titlesanitized}}">编辑</a>&ensp;<a>删除</a>&ensp;<a>置顶</a>&ensp;<a>评论</a>&ensp;</th>
</tr>
</tbody>
{{/stories}}
</thead>
</table>
<nav aria-label="..." style="text-align: right">
<ul class="pagination">
<li>
<a href = "#" aria-label="Previous">
<span aria-hidden="true"><<</span>
</a>
</li>
{{#count}}
<li>
<a href="/admin/manage/story/{{page}}">{{page}}</a>
</li>
{{/count}}
<li>
<a href="#" aria-label="Next">
<span sria-hidden="true">>></span>
</a>
</li>
</ul>
</nav>
{{>../footer}}
