<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <link href="jumbotron-narrow.css" rel="stylesheet">
        <title>{{title}}</title>
    </head>
    <body>
        <div class = "container">
        <div class = "header clearfix">
            <nav>
                <ul class = "nav nav-pills pull-right">
                {{^authenticated}}
                <li role = "presentation"><a href="/login">登录</a></li>
                {{/authenticated}}
                {{#authenticated}}
                 <li role="presentation"><a href="javascript:;" onclick="var f=document.createElement('form');f.method='POST';f.action='/logout';f.submit();">注销</a></li>
                {{/authenticated}}
                </ul>
            </nav>
            <h3 class = "text-muted"><a href="/">天真男的日志</a></h3>
        </div>
